.env
.env.*
**/token*.json
**/*token*.json
**/credentials*.json
**/*client_secret*.json


printf ".env\n.env.*\nyt_tokens.json\n**/*token*.json\n**/credentials*.json\n**/*client_secret*.json\n" >> .gitignore
